.meal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap; /* Allow wrapping */
}
.meal div {
  flex: 1; /* Allow the inner div to take available space */
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
  word-wrap: break-word; /* Break long words */
  white-space: pre-wrap; /* Handle line breaks */
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
