body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 10;
}

.main-image {
  position: relative;
  width: 100vw;
  height: 30rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main-image img {
  width: 105vw;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-2.5vw);
  margin: 0;
  padding: 0;
}
